@{
    ViewBag.Title = "SVGDesign";
}
@Styles.Render("~/content/jquerycss")
@Scripts.Render("~/bundles/svg")

<style>
    .border-show {
        border: 1px solid black;
    }

    .toolbar-vertical {
        width: 100px;
        height: 100%;
    }

    .img-btn {
        width: 80px;
        height: 30px;
        border: 1px solid #ccc;
    }

    .toolbar-vertical {
        border-right: 1px solid #ccc;
        text-align: center;
    }
</style>
<div class="row" style="margin-top:20px;">
    <div class="col-lg-2 border-show ">
        设备
        线路
    </div>
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-10">
                <div class="row border-show">
                    <div class="pull-left toolbar-vertical">
                        <div>
                            道路图形
                        </div>
                        <hr />
                        <div id="roadline" class="drag-el" data-type="1">
                            <img src="~/Content/images/roadline.png" />
                        </div>
                        <hr />
                        <div id="dirction" class="drag-el" data-type="2">
                            <img src="~/Content/images/dirction.png" />
                        </div>
                        <hr />
                        <div id="text" class="drag-el" data-type="3">
                            <i class="glyphicon glyphicon-text-size"></i>文本
                        </div>
                    </div>
                    <div id="drawing" class="text-center"></div>
                </div>
            </div>
            <div class="col-lg-2 border-show">
                <div class="row">
                    <h5>大屏信息</h5>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">中心位置</span>
                        <input type="text" class="form-control" placeholder="x">
                        <input type="text" class="form-control" placeholder="y">
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">路况范围</span>
                        <input type="text" class="form-control" placeholder="1-1000m">
                    </div>
                    <h5>道路样式</h5>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">标识</span>
                        <input type="text" class="form-control road-el-attr" name="id" readonly placeholder="唯一标识Id">
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">颜色</span>
                        <input type="text" class="form-control  road-el-attr" name="fill" placeholder="文本显示的颜色">
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">高度</span>
                        <input type="text" class="form-control  road-el-attr" name="height" placeholder="高度">
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">宽度</span>
                        <input type="text" class="form-control  road-el-attr" name="width" placeholder="宽度">
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">显示</span>
                        <input type="text" class="form-control  road-el-attr" name="view" placeholder="要显示的内容">
                    </div>
                    <a href="#" class="btn btn-primary btn-sm" onclick="saveStyle()">
                        <i class="glyphicon glyphicon-ok" aria-hidden="true"></i>应用
                    </a>
                    <h5>数据<br><small>设置时先获取周围可查询路况的名字</small></h5>

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">路名</span>
                        <a href="#" class="btn btn-default btn-sm">
                            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>获取
                        </a>
                        <select class="form-control  road-el-attr">
                            <option>获取到的道路</option>
                        </select>
                    </div>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">方向</span>
                        <select class="form-control  road-el-attr">
                            <option value="1">南向北</option>
                            <option value="2">北向东</option>
                            <option value="3">东向西</option>
                            <option value="4">西向东</option>
                        </select>
                    </div>
                    <a href="#" class="btn btn-primary btn-sm">
                        <i class="glyphicon glyphicon-save" aria-hidden="true"></i>保存
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        unselect()
        dragEl();

    })
    var drawing = new SVG('drawing').size(384, 288);
    drawing.rect(500, 500)
    var group = drawing.group().addClass('road-group');

    function unselect() {
        $(document).on("click", function (e) {
            $('#drawing g.road-group .road-element').each(function () {
                this.instance.selectize(false)
            })
            if ($(e.target).hasClass("road-element")) {
                var curId = $(e.target).attr("id");
                var el = SVG.get('#' + curId);
                if (group.index(el) > -1) {
                    el.selectize(true)

                }
            }
        })
    }
    function dragEl() {
        $(".drag-el").draggable({
            helper: "clone",
            cursor: "cosshair",
            classes: {
                "ui-draggable": "highlight"
            },
            stop: function (event, ui) {
                var elCoord = {};
                elCoord.x = event.pageX;
                elCoord.y = event.pageY;
                var coord = getCoordinate(elCoord);
                var type = $(event.target).attr("data-type") * 1;
                createElement(coord, type);

            }
        })
    }
    function getCoordinate(elCoord) {
        var svgObj = $("#drawing>svg");
        var svgCoord = {};
        svgCoord.x = svgObj.offset().left;
        svgCoord.y = svgObj.offset().top;
        var coord = {};
        coord.x = elCoord.x - svgCoord.x;
        coord.y = elCoord.y - svgCoord.y;
        coord.x = coord.x > 0 ? coord.x : 0;
        coord.y = coord.y > 0 ? coord.y : 0;

        return coord;
    }
    function createElement(coord, type) {
        var obj;
        switch (type) {
            case 1://矩形
                obj = group.rect(240, 16);
                break;
            case 2://方向
                obj = group.polygon('350,10 365,40 350,30 335,40');
                break;
            case 3://文本
                obj = group.text("文本");
                break
        }
        if (!obj)
            return;
        obj.fill('lime').addClass('road-element').draggable().selectize().resize();
        obj.move(coord.x, coord.y);
        obj.on("click", function (e) {
            showElAttr(obj,type)
        })
        obj.on("dragend", function () {

            showElAttr(obj, type)
        })
        obj.on("resizedone", function () {
            showElAttr(obj, type)
        })
    }
    function showElAttr(el,type) {
        $("input[name='id']").val(el.attr("id"))
        $("input[name='fill']").val(el.attr("fill"))
        $("input[name='width']").val(el.attr("width"))
        $("input[name='height']").val(el.attr("height"))
        if (type == 3) {
            $("input[name='view']").val(el.text())
        }
    }

    function saveStyle() {

    }

</script>
@Scripts.Render("~/bundles/jqueryui")