@{
    ViewBag.Title = "SVGDesign";
}
@Styles.Render("~/content/jquerycss")
@Scripts.Render("~/bundles/svg")
<style>
    .border-show {
        border: 1px solid black;
    }

    .decresPadding {
        margin: 10px 1px 0px 1px;
    }

        .decresPadding .col-xs-3 {
            padding-left: 1px;
            padding-right: 1px;
        }

        .decresPadding .thumbnail {
            margin-bottom: 5px;
            width:50px;
            height:50px;
        }
    .toolbar-v{
        width:100%;
        height:40px;
    }
</style>
<div class="row" style="margin-top:20px;">
    <div class="col-lg-2 border-show ">
        <div class="list-group">
            <a role="button" class="list-group-item" data-name="Common" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                公共组件
            </a>
            <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                
            </div>
            <a role="button" class="list-group-item" data-name="AirCondition" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                空调机房
            </a>
            <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
               
            </div>
            <a role="button" class="list-group-item" data-name="Factory" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                机械制造车间
            </a>
            <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
              
            </div>
            <a role="button" class="list-group-item" data-name="Electricity" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                电力设备
            </a>
            <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
               
            </div>
        </div>
    </div>
    <div class="col-lg-10 border-show ">
        <div class="row toolbar-v"></div>
        <div id="drawing" style="min-height:600px;" class="row"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("[data-toggle='collapse']").click(function (ev) {
            var el = ev.target;
            var name = $(el).attr("data-name");
            if ($(el).attr("aria-expanded") == "false") {
                $.getJSON("/Components/GetComponents", { parentName: name }, function (res) {
                    var list = "<div class='row decresPadding'>";
                    if (res.length > 0) {
                        
                        for (var i = 0, len = res.length; i < len; i++) {

                            list += getTemlate(res[i].url, res[i].name)
                        }
                        list += "</div>";
                    }
                    var id = $(el).attr("href");
                    $(id).html(list)
                })
            }
        })
        
    })

    function getTemlate(url, name) {
        var contents = "<div class='col-xs-3'>" +
            "<embed  src='" + url + "' alt=" + name + " class='thumbnail' >" +
            " </div>";
        return contents;
    }
    var drawing = new SVG('drawing').size('100%', '100%');

    var group = drawing.group().addClass('road-group');
</script>


@Scripts.Render("~/bundles/jqueryui")
